* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root { /* Färgerna från paletten*/
    --tin: #D7D7D8; /* Tin */
    --mtin: #B8B8BB; /* Medium Tin */
    --dtin: #AEAEB1; /* Dark Tin */
    --ashg: #636458; /* Very Light Ash Grey*/
    --ashb: #252525; /* Very Ash Black */
}

body {
    margin: 0;
}

#grid-wrapper{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 300px auto;
}
nav {
  background: #252525;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

label.logo {
  float: left;
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: left;
  margin-left: 5vw;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover {
  background: var(--dtin);
  color: white;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section{
    background-color:var(--tin);
    padding: 100px 50px;
    height: auto;
}

.masonry {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    justify-content: space-evenly;
}

.masonry h4{
    display: flex;
    justify-content: right;
    color: var(--ashb);
}
  
img {
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:hover{
    transform: scale(1.3);
    transition: transform .8s;
}

.footer{
  background-color:var(--ashb);
  color: var(--tin);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footerbox ul{
	list-style: none;
  padding: 0px;
  text-align: center;
}

.footerbox{
  width: 25%;
  box-sizing: border-box;
  text-align: center;
}

.footerbox h4{
	font-size: 18px;
    color: var(--tin);
	text-transform: capitalize;
    
}

.social-links {
  text-align: center;
}

.footerbox .social-links a{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: var(--ashg);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	color: var(--tin);
	transition: all 0.5s ease;
}
.footerbox .social-links a:hover{
	color: var(--ashg);
	background-color: var(--tin);
}

.email-box{
  height: 30px;
  justify-content: center;
  display: flex;
}

.email-box i{
  background: var(--ashg);
  width: 30px;
  line-height: 30px;
}

.tbox,.btn{
  border: none;
  outline: none;
}
  
.tbox{
  width: 0px;
  transition: 0.6s;
  padding: 0;
  height: 30px;
}

.email-box:hover > .tbox,.tbox:focus{
  width: 150px;
  padding: 0 10px;
}

.btn{
  background: var(--ashg);
  color:var(--tin);
  padding: 0 10px;
  text-transform: uppercase;
}

button{
  height: 30px;
}
  
@media (max-width: 960px){
  .footerbox{
    width: 50%;
  }
}

@media(max-width: 767px){
  .footerbox{
    width: 100%;
  }

  .navbar li {
    display: block;
    padding: 10px;
    text-align: center;
    }

    .navbar ul {
        padding: 0;
    }

    img:hover{
        pointer-events: none;
    }

}




